html {
  color: #4A4A4A;
  font-size: 16px;
  font-family: sans-serif;
  max-width: 1260px;
  margin: 0 auto;
}

h2 {
  margin: 32px 0;
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
}

ul {
  margin: 0;
}

a {
  color: #619EE4;
  text-decoration: none;
}

nav li {
  display: inline-block;
  padding: 8px;
}

.dark-gray {
  color: #4A4A4A;
}

.gray-box {
  background-color: #D8D8D8;
}

.light-gray {
  color: #D8D8D8;
}

/* Top Nav */
header {
  height: 64px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 24px;
}

.mobile-top-bar {
  display: none;
}

.branding {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  header{
    display: none;
  }

  .mobile-top-bar {
    display: flex;
    justify-content: space-between;
  }

  nav {
    /* display: flex;

    justify-content: space-between;
    align-items: center;
    */
    margin: 0 24px;
    height: 64px;
    width: 100%;
  }
  nav ul {
    width: 100%;
    padding: 16px 0;
  }
  nav ul li {
    float: left;
    text-align: center;
    width: 25%;
    padding: 0
  }
}

/* Jumbotron */

.container {
  display: flex;
  margin: 32px 0;
}

.column-left {
  width: 60%;
  margin-left: 24px;
}

.column-left img {
  width: 100%;
}

.column-right {
  width: 40%;
  /*margin-left: 24px; */
  display: block;
}

.jumbotron {
  align-items: center;
  padding: 32px 0;
  margin-top: 0;
}

.jumbotron .cta-block {
  display: block;
  width: 80%;
  margin: 0 24px;
}

.jumbotron .cta-block h1 {
  font-size: 2.25rem;
  line-height: 1.25;
  font-weight: 900;
  margin: 32px 0;
}

.jumbotron .cta-block h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 600;
  margin-bottom: 24px;
}

.jumbotron .cta-block a {
  display: block;
  text-align: center;
  padding: 8px 0;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  background-color: #4A4A4A;
  width: 100%;
}

@media only screen and (max-width: 480px) {

  .jumbotron {
    flex-direction: column;
    margin-left: 0;
    padding: 0;
  }

  .jumbotron .column-left {
    margin-left: 0;
    width: 100%;
  }

  .jumbotron .column-right {
    width: 100%;
    margin: 0 16px;
    display: flex;
  }

  .jumbotron .cta-block {
    width: 100%;
    margin: 0 16px 32px;
  }

  .jumbotron .cta-block a {
    background-color: #9B9B9B;
  }
}

/* highlights */

.highlights h2 {
  text-align: left;
  margin-bottom: 24px;
}

.highlights .column-right {
  margin-top: -16px;
}

.story-block {
  display: flex;
  align-items: center;
}

.story-block:hover {
  background-color: #D8D8D8;
}

.story-block img {
  display: block;
  width: 35%;
  height: auto;
  margin: 16px;
}

.story-block .mobile-image {
  display: none;
}

.story-content {
  display: block;
}

.story-content h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 24px 0 12px;
}

.story-content p {
  margin: 8px 0;
  line-height: 1.4rem;
}

.summary .byline {
  font-weight: 400;
  font-size: .75rem;
  margin: 12px 0;
}

@media only screen and (max-width: 480px) {
  .highlights {
    margin: 16px 16px -32px 16px
  }

  .highlights .column-left {
    display: none;
  }

  .highlights .column-right {
    width: 100%;
    display: block;
    flex-direction: column;
    margin-right: -32px;
  }

  .highlights .column-right .story-block {
    width: 100%;
    flex-direction: column;
  }

  .story-block {
    align-items: flex-start;
    margin-bottom: 64px;
  }

  .last-block {
    margin-bottom: 32px;
  }

  .story-block .desktop-image {
    display: none;
  }

  .story-block .mobile-image {
    display: block;
  }

  .highlights .column-right .story-block img {
    min-width: 100%;
    margin: 0;
  }

  .story-block:hover {
    background-color: inherit;
  }

  .story-content {
    margin-left: 16px;
  }
}

/* Learning Section */

.learning {
  position: relative;
  display: block;
  padding-top: 32px;
}

.learning-container {
  margin: 32px 40px 32px 72px;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.learning h2 {
  text-align: center;
  margin: 0 0 16px;
}

.learning-block {
  display: block;
  margin: 0 32px 32px 0;
  background-color: white;
  max-width: 30%;
}

.learning-block img {
  width: 100%;
  height: auto;
}

.learning-text {
  margin: 16px 16px 24px 16px;
}

.learning-text h3 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.learning-text h5 {
  margin: 8px 0;
}

@media only screen and (max-width: 480px) {
  .learning .desktop {
    display: none;
  }

  .learning-container {
    width: 100%;
    display: flex;
    margin: 0px 16px 32px 16px;
  }

  .learning.gray-box {
    background-color: white;
    margin-top: -32px;
    border-top: 1px solid #D8D8D8;
  }

  .learning-block {
    background-color: #D8D8D8;
    width: 100%;
    max-width: none;
    margin-bottom: 8px;
  }
}

/* thesis */
.thesis {
  display: block;
  position: relative;
}

.thesis .container .column-right {
  margin-left: 24px;
}

.summary h3 {
  margin: 24px 0 8px;
  font-size: 1.25rem;
  font-weight: bold;
}

.summary p {
  line-height: 1.4;
}

video {
  width: 100% !important;
  height: auto !important;
}

@media only screen and (max-width: 480px) {
  .thesis .container {
    margin: 0 0 24px;
  }

  .thesis h2 {
    margin: 32px 0 16px;
    padding-top: 32px;
    border-top: 1px solid #D8D8D8;
  }

  .thesis .container .column-left {
    width: 100%;
    margin: 0;
  }

  .thesis .container .column-left .summary, .column-right {
    display: none;
  }
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid #D8D8D8;
}

.copyright {
  margin: 16px 0 0 24px;
}

.bottom-nav li {
  display: inline-block;
  padding: 16px 4px;;
}

@media only screen and (max-width: 480px) {
  .footer {
    border-style: none;
    margin-bottom: 16px;
  }

  .bottom-nav {
    display: none;
  }
}

